<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <h1>Agregar Productos</h1>
        <form th:object="${producto}" th:action="@{/agregar}" method="post">
            <div class="form-group">
                 <label for="nombre">Nombre del producto</label>
                 <input th:field="*{nombre}" id="nombre" placeholder="Escribe el nombre del producto" type="text"
               class="form-control">
            </div>
            <div class="form-group">
                <label for="codigo">Código de barras</label>
                <input th:field="*{codigo}" id="codigo" placeholder="Escribe el código del producto" type="text"
               class="form-control">
            </div>
            <div class="form-group">
                <label for="existencia">Existencia actual</label>
                 <input th:field="*{existencia}" id="existencia" placeholder="Cantidad actual del producto" type="number"
               class="form-control">
             </div>
            <div class="form-group">
                <label for="existencia">Precio</label>
                <input th:field="*{precio}" id="precio" placeholder="Precio del producto" type="number"
               class="form-control">
            </div>
             <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-warning" th:href="@{/productos/mostrar}">Ver todos</a>
        </form>
    </body>
</html>
